* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d5e1ef;
}

.main-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.outer-box {
  height: 499px;
  width: 320px;
  background-color: #fff;
  border-radius: 20px;
}

.qrcode {
  width: 288px;
  height: 288px;
  border: 0.5px solid black;
  margin: 16px;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

img {
  width: 288px;
  object-fit: cover;
  border-radius: 10px;
}

.text-box {
  width: 288px;
  height: 131px;
  margin: 0 16px 40px 16px;
  text-align: center;
}

h1 {
  /* padding: 16px; */
  line-height: 1.2;
  letter-spacing: 0px;
  font-size: 22px;
  font-family: "Outfit";
  font-weight: 700;
  padding: 16px 16px;
}

p {
  font-family: "Outfit";
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  font-weight: 400;
  color: #68778d;
  padding: 0 16px 0 16px;
}

/* #1F314F - slate-900  - h1 */
/* Slate-500 - #68778D  -  p - 40px */
/* body background - #d5e1ef - 24px*/

/* 
Typography

/* spacing */
/*  
500-40px
300 -24px
200 - 16px
*/

/*  
Text Preset 1 -Outfit Bold
22px
120% Line Height
0px Letter Spacing


Text Preset 2 - Outfit Regular
15px
140% Line Height
0.2px Letter Spacing
 */
