/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 62.5%;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root {
  --slate-900: #1f314f;
  --slate-500: #68778d;
  --slate-300: #d5e1ef;
  --white: #fff;

  /* Typography */
  --fs-bold: 2.2rem;
  --lh-bold: 1.2;
  --ls-bold: 0;

  --fs-regular: 1.5rem;
  --lh-regular: 1.4;
  --ls-regular: 0.02rem;
}

body {
  font-family: "Outfit";
  background-color: var(--slate-300);
}

.main-box {
  background-color: var(--slate-300);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.outer-box {
  max-width: 32rem;
  width: 100%;
  background-color: var(--white);
  border-radius: 2rem;
  box-shadow: 0 2.5rem 2.5rem 0 rgba(0, 0, 0, 0.477);
}

.outer-box-img {
  padding: 1.6rem;
  padding-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 1rem;
}

.text-box {
  padding: 2.4rem 1.6rem 0 1.6rem;
  text-align: center;
}

h2 {
  color: var(--slate-900);
  font-weight: 700;
  font-size: var(--fs-bold);
  line-height: var(--lh-bold);
  padding: 0 1.6rem 0 1.6rem;
  padding-bottom: 1.6rem;
}

p {
  color: var(--slate-500);
  font-size: var(--fs-regular);
  line-height: var(--lh-regular);
  letter-spacing: var(--ls-regular);
  font-weight: 400;
  padding: 0 1.6rem;
  padding-bottom: 4rem;
}
